.gradient-custom-2 {

    background: #fccb90;

    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.gradient-form {
    @media (min-width: 768px) {
        height: 100vh !important;
    }
}

.gradient-custom-2-media {
    @media (min-width: 769px) {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}